@font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    color: #333333;
    font-size: 18px;
    line-height: 21px;
    background-color: white;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip:rect(0 0 0 0);
    overflow: hidden;

}

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.index-banner {
    background-image: url(../images/index-background.jpg);
    background-size: 1200px;
    width: 1200px;
    height: 485px;
}

.main-picture-logo {
    display: block;
    margin: 0 auto;
    padding-top: 51px;

}

/* Index Header */

.page-header {
    background-color: white;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.page-header-logo {
    width: 139px;
    margin-right: 30px;
}

.navigation-list{
    display: flex;
    flex-wrap: wrap;
    width: 514px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}



.navigation-link {
    position: relative;
    display: block;
    padding: 20px 17px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.navigation-link-current::before {
    position: absolute;
    right: 17px;
    bottom: 0;
    left: 18px;
    height: 2px;
    background-color: #756257;
    content: "";
  }

.navigation-link-current:active {
    color: rgb(117, 98, 87, 0.3);
    text-decoration: underline;
    text-underline-offset: 20px;
}

.navigation-link-current:hover {
    color: rgb(117, 98, 87);
}

.navigation-user {
    max-width: 306px;
    margin-left: auto;
    align-items: center;
    padding: 0;
}

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: black;
}

.navigation-icon:hover {
    fill: rgb(117, 98, 87);
}

.navigation-icon:active {
    fill: rgb(117, 98, 87, 0.3);
}

.navigation-item{
    list-style-type: none;
    margin-right: 10px;
}


.button-navigation {
    display: block;
    padding: 9px 34px 8px 34px;
    border-radius: 4px;
    margin-left: 20px;
}

.button-navigation:hover{
    background-color: rgb(97, 80, 72);
}

.button-navigation:focus {
    outline-color: rgb(131, 179, 211);
    outline-width: 3px;
}

.button-navigation:active {
    color: rgb(242, 242, 242, 0.3);
}

/* Advantages */

.main-index {
    color: rgb(51, 51, 51);
    background-color: white;
}
.divider{
    display: flexbox;
    background-color: white;
    width: 1200px;
    text-align: center;
}

.advantages-list {
    display: flex;
    height: 384px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.box{
    flex-grow: 1;
}
.advantages-title, .CTA-title, .catalog-title {
    color: black;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-title{
    display: block;
    margin-top: 63px;
    margin-bottom: 31px;
}

.advantages-title-copy, .CTA-copy {
    display: block;
    font-size: 22px;
    line-height: 26px;
}

.advantages-title-copy {
    margin-bottom: 80px;
}

.advantages-list-title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 23px;
    margin-bottom: 20px;
    color: black;
    text-transform: uppercase;
}
.advantages-list-title-with-picture{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 29px;
    color: white;
    text-transform: uppercase;
}

.advantages-description-with-picture, .advantages-description{
    margin: 0;
    display: block;
    margin-bottom: 30px;
}

.advantages-item-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(131, 179, 211);
    color: white; 
}

.advantages-item, .main-icon-advantages {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages-item-color {
    background-color: rgb(131, 179, 211, 12%);
}

.advantages-item-dark {
    background-color: rgb(131, 179, 211, 20%);
}

.button {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: rgb(117, 98, 87);
}

.catalog-search-more-button {
    display: block;
    max-width: 1056px;

}

.search-show-more, .subscribe-button {
    background-color: rgb(131, 179, 211);
}

.search-show-more{
    padding: 17px 236px;
    border: 0;
    border-radius: 4px;
}

.CTA {
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 91px 240px 93px 240px;
}

.CTA-title {
    margin: 0;
    margin-bottom: 29px;
}

.CTA-copy {
    margin-bottom: 56px;
}

.button-CTA {
    display: block;
    padding: 15px 150px; 
    border-radius: 10px;
}

.button-CTA:hover {
    background-color: rgb(97, 80, 72);
}

.button-CTA:focus {
    background-color: rgb(97, 80, 72);

}

.button-CTA:active {
    color: rgb(255, 255, 255, 0.3);
}

.subscribe {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
    background-image: url(../images/footer_background.jpg);
    background-color: white;
}

.subscribe-catalog {
    background-color: white;
    text-align: center;
}

.page-footer-title {
    padding: 0;
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}

.subscribe-copy {
    color: white;
    font-size: 22px;
    line-height: 26px;
    margin-top: 29px;
    margin-bottom: 46px;
}


/* Footer*/

.page-footer {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: white;
} 


.footer-social-list {
    display: flex;
    padding: 0;
    margin-left: 72px;
}

.footer-social-item {
    list-style-type: none;
    width: 17px;
    height: 16px;
    margin-right: 29px;
}

.footer-social-item:last-child {
    margin-right: 0;
}

.footer-contacts-address-phone {
    font-size: 40px;
    line-height: 40px;
    color: black;
    text-decoration: none;
}

.footer-contacts-address-phone:hover, .footer-logo:hover {
    color: rgb(117, 98, 87);
}

.footer-contacts-address-phone:focus, .footer-logo:focus{
    color: rgb(117, 98, 87);
    outline: 3px solid rgb(104, 162, 202);

}

.footer-contacts-address-phone:active, .footer-logo:active{
    color: rgb(117, 98, 87, 0.3);
}

.footer-logo {
    margin-right: 72px;
    color: black;
}

.social-media-icons {
    fill: rgb(131, 179, 211)
}

.social-media-icons:hover {
    fill: rgb(104, 162, 202);
}

.social-media-icons:focus {
    fill: rgb(104, 162, 202);

}

.social-media-icons:active {
    fill: rgb(104, 162, 202, 0.3);
}

/* Catalog */

.catalog {
    background-image: url(../images/catalog-background.jpg);
    background-repeat: no-repeat;
}

.catalog-banner {
    height: 408px;
    padding: 35px 72px 0px 72px;
}

.inner-header {
    color: rgb(51, 51, 51); 
    color: white;
}

.inner-header-title {
    display: block;
    word-wrap: break-word;
    padding-top: 30px;
    padding-bottom: 17px;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 5px;
    margin: 0;
  
}

.filter-wrap {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.breadcrumbs{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding:0;
    display: flex;
    align-items: baseline;
}

.breadcrumbs-item {
    margin: 11px 11px 45px 0;

}

.breadcrumbs-link {
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

.catalog-products{
    color: white;
}

.catalog-filter{
    display:flex;
    
}

.catalog-filter-list, .hotel-list{
    list-style-type: none;
    text-decoration: none;    
}

.catalog-filter-list {
    padding: 0;
    margin: 0;
}

.catalog-filter-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-right: 67px;
}

.catalog-filter-group {
    border-style: unset;
    margin: 0;
    padding: 0;
}

.control-input{
    margin-bottom: 13px;
}

.button-catalog {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: rgb(131, 179, 211);
    cursor: pointer;
}

.button-submit {
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 34px;
    border: 0px;
    border-radius: 4px;
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: rgb(131, 179, 211);
    cursor: pointer;
}

.button-submit:hover {
    background-color: rgb(104, 162, 202);
}

.button-submit:focus, .breadcrumbs-link:focus {
    background-color: rgb(131, 179, 211);

}

.button-submit:active, .breadcrumbs-link:active {
    color: rgb(255, 255, 255, 0.3));
}

.button-reset{
    background: transparent;
    border: transparent;
    font-family: PT Sans, sans-serif;
    font-size: 18px;
    padding: 15px 34px;
    color: white;
    cursor: pointer;
}

.button-reset:hover, .breadcrumbs-link:hover {
    color:rgb(255, 255, 255, 0.6)
}

.button-reset:focus, .breadcrumbs-link:focus {
    color: white;
}

..button-reset:active, .breadcrumbs-link:active {
    color:rgb(255, 255, 255, 0.3)
}

.sorting-container {
    display: flex;
    align-items: center;
    width: 1057px;
    padding: 0 71px 53px 71px;
    
}

.sorting-options-buttons {
    display: flexbox;
}

.button-sorting {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-left: 8px;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
}

.button-sorting:nth-last-child(3) {
    margin-left: 0;
}
.catalog-title {
    display: block;
    margin: 0;
}

.select-control {
    padding: 12px 127px 13px 19px;
    border-color: rgb(230, 230, 230);
    color: rgb(51, 51, 51);
    font-family: PT Sans, sans-serif;
    font-size: 18px;
}
.select{
    margin-left: auto;
    margin-right: 81px;
}

/* Hotels cards */

.hotel-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-column-gap: 18px;
    grid-row-gap: 10px;
    margin: 0;
    margin-bottom: 34px;
    padding: 0 70px 0 72px;
    list-style: none;
}

.hotel-card-image {
    opacity: 100%;
}

.hotel-card-image:hover {
    opacity: 60%;
}

.hotel-card-image:focus {
    
}

.hotel-card-image:active {
    opacity: 30%;
}

.hotel-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
}

.hotel-price {
    display: flex;
    flex-direction: row;
}

.hotel-card-type {
    width: 158px;
    margin-top: 0;
}

.hotel-card-price {
    margin: 0;
}

.hotel-card-title {
    font-size: 24px;
    color: black;
    margin-top: 16px;
    margin-bottom: 16px;
}

.cards-actions {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.card-add-favorites, .card-link-button{
    background-color: rgb(131, 179, 211);
    padding-top: 9px;
    padding-bottom: 10px;
    width: 150px;
    border-radius: 4px; 
    font-size: 16px;
    font-family: PT Sans, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border-style: none; 
    cursor: pointer;
}

.card-link-button {
    display: block;
    background-color: rgb(117, 98, 87);
    width: 133px;
    margin-right: 26px;
}
.card-link-button:hover {
    background-color: rgb(97, 80, 72);
    outline: 1px solid #756257;
}

.card-link-button:focus {
    background-color: rgb(97, 80, 72);
    outline: 3px solid #756257;

}

.card-link-button:active {
    color: rgba(255, 255, 255, 0.3);
    outline: 1px solid #756257;
}

.card-add-favorites:hover{
    background-color: rgb(104, 162, 202);
    outline: 1px solid #756257;

}

.card-add-favorites:focus {
    background-color: rgb(104, 162, 202);

}

.card-add-favorites:active {
    color:rgb(104, 162, 202, 0.3);
}

.card-add-favorites-selected {
    background-color: rgb(125, 181, 79);
}

.card-add-favorites-selected:hover {
    background-color:rgb(108, 158, 66);
}

.card-add-favorites-selected:focus {
    background-color:rgb(108, 158, 66);
}

.card-add-favorites-selected:active{
    color: rgb(255, 255, 255, 0.3);
}

.hotel-card-link {
    width: 159px;
}

.card-rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-stars-rating {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hotel-cards-rating{
    font-size: 16px;
    background-color:rgb(242, 242, 242);
    text-transform: uppercase;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 160px;
    border-radius: 4px;
    text-align: center;
}

.catalog-search-more-button {
    width: 1056px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
}

.search-show-more {
    margin: 0 auto;
   
}

.search-show-more:hover {
    background-color: rgb(104, 162, 202);
}

.search-show-more:focus {
    background-color: rgb(104, 162, 202);

}

.search-show-more:active {
    color: rgb(255, 255, 255 0.3);
}

/* Pagination */

.pagination-block {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 72px;
    margin-left: 72px;
    align-items: center;
 
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-copy {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: 51px;
}

.pagination-link {
    display: block;
    color: white;
    background-color:rgb(131, 179, 211);
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 17px 18px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.pagination-link:hover {
    background-color: rgb(104, 162, 202);

}

.pagination-link:focus {
    background-color: rgb(104, 162, 202);

}

.pagination-link:active {
    color: rgb(255, 255, 255, 0.3);
}

.pagination-current, .pagination-current:hover, .pagination-current:avtive .pagination-current:focus {
    background-color: rgb(242, 242, 242);
    color: black;
}


.catalog-subscribe {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
    background-color: white;
}
.catalog-page-footer-title {
    color: black;
}

.catalog-subscribe-copy {
    color: black;
}

.subscribe-form{
    display: flex;
    justify-content: center;
}

.subscribe-field{
    width: 600px;
    height: 60px;
    padding: 0;
    border-radius: 0px 10px 10px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.subscribe-button{
    width: 200px;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
}